InicioSesionClient/InicioSesionClient/Connected Services/LogInServiceReference/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InicioSesion.Entities.WebResults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InicioSesion.Entities.WebResults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponse" nillable="true" type="tns:ServiceResponse" />
</xs:schema>